[v-cloak] { display: none; }

.only-top-border {
    border-bottom: hidden!important;
    border-left: hidden!important;
    border-right: hidden!important;
}

.no-left-bot-border{
  border-bottom: hidden!important;
  border-left: hidden!important;
}

.time-input{
  padding-left: .25rem;
  padding-right: .25rem;
}

.remove-btn{
  margin-top: .25rem;
  margin-bottom: .25rem;
  padding-left: .25rem;
  padding-right: .25rem;
  width: 100%;
  background: lightgray;
}

.fill-parrent{
  width: 100%;
  height: 100%;
}

.hide_element{
  visibility: hidden;
}
